*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
    --primary-color: #FF6B6B;
    --secondary-color: #FFD93D;
    --accent-color: #6B4226;
    --light-cream: #FFF5E6;
    --dark-brown: #3D2C2E;
    --transition: all 0.3s ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--light-cream);
    /* background: #3D2C2E; */
    color: var(--dark-brown);
}

/*------------------------------- NAVBAR -------------------------------*/

/* NAVCONTAINER */

header
{
  position: relative;
  height: 70px;
  margin-bottom: 0;
}

/* header nav .navc h1,header nav .navc a:hover {color: rgb(16, 116, 209);} */
header nav .navc a {color: rgb(23, 54, 83); text-decoration: none; font-weight: bold;}
/* header nav ul li {margin-right: 10px;} */

header nav
{
  display: flex;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.20);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 6px 3px rgba(24, 24, 24, 0.13);
  z-index: 1;
}

header nav .nav
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header nav .navc
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

header nav .icones
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}

header nav .icones img
{
  cursor: pointer;
}

#menu_tôfi
{
  display: none;
}

/* NAVLINKS */

header ul li
{
  padding: 0 5px;
}

header ul li div
{
  position: relative;
  width: 100%;
}

header ul li div a:hover ~ .form__bar{
  left: 0;
  right: 0;
  width: 100%;
  color: inherit;
}

.form__bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 0;
  display: block;
  height: 1.6px;
  background-color: rgb(23, 54, 83);
  transition: all .5s;
}

p{color: aliceblue;}

/* PANIER */

header .conteneur_produit
{
  position: absolute;
  top: 100%; right: -100%;
  height: calc(100vh-11rem);
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.20);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 1rem 1rem;
  box-shadow: 0 0 6px 3px rgba(24, 24, 24, 0.13);
}

header .conteneur_produit .produit
{
  position: relative;
  display: flex;
  gap: 5rem;
  padding: 1rem;
  margin: 1rem 0 1rem 1rem;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.20); */
  background-color: #FFF5E6;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 6px 3px rgba(24, 24, 24, 0.13);
}

header .conteneur_produit .produit h3
{
  font-size: 1.5rem;
  color: black;
}

/*------------------------------- RESPONSIVITE NAVBAR -------------------------------*/

@media screen and (max-width: 900px)
{
  header .navc
  {
    position:absolute;
    top: 100%;
    right: 0;
    width: 30vw;
    height: calc(100vh-11rem);
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.20);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 6px 3px rgba(24, 24, 24, 0.13);
    z-index: 1;
  }
  
  header .navc li
  {
    margin: 1.5rem 0;
  }

  header .navc.active
  {
    right: 0;
  }
}

/*----------------------------------------------------------------------------*/

/* Style global des catégories. */

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 30px;
}

.carousel-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #BC6535;
  font-family: cursive;
}

.carousel {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover {
  transform: scale(1.05);
  z-index: 2;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}

.carousel-item .title {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 3;
  
}

.carousel-item:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
}
.carousel-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-nav button {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.carousel-nav button:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Dégradés latéraux */
.gradient-left,
.gradient-right {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.gradient-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);
}

.gradient-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), transparent);
}


/*------------------------------- A PROPOS DE NOUS -------------------------------*/
.aboutUs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 100px 150px;
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  background-color:#EED0C0;
}


.aboutUs-image-container {
  max-width: 400px;
}

.aboutUs-image {
  width: 450px;
  height: 450px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: #BC6535 5px 5px 15px;
}

.aboutUs-text-container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 30px;
}

.aboutUs-title {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  color:#BC6535;
}

.aboutUs-description {
  font-size: 16px;
 
  margin-bottom: 20px;
  color: black;
  text-justify: auto;
}

.aboutUs-button {
  width: fit-content;
  padding: 12px 24px;
  background-color: #BC6535;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aboutUs-button:hover {
  background-color: #eb5606;
}

/* Responsive */

@media (max-width: 768px) {
  .aboutUs-content {
    flex-direction: column;
    text-align: center;
  }
  .aboutUs-text-container {
    text-align: center;
    align-items: center;
  }
  .aboutUs-button {
    margin: 0 auto;
  }
}
/* .first_rounded {
    width: 50px;
    height: 50px;
    border-radius: 20rem;
    overflow: hidden;
    background-color:#E6AC5D;
    position: absolute;
    opacity: 0,5;
  }   */


/*------------------------------- RESPONSIVITE A PROPOS DE NOUS -------------------------------*/

/*------------------------------- NEWSLETTER -------------------------------*/

.newsletter-tofidoux {
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  background-image: url('images/bg-confiserie.jpg'); opacity: 0.6;
}

.newsletter-tofidoux h3 {
  font-family:cursive;
  font-size: 24px;
  color: #BC6535;
  font-weight: bold;
}

.newsletter-tofidoux p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.newsletter-tofidoux form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter-tofidoux input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.newsletter-tofidoux button {
  padding: 12px 20px;
  background-color: #BC6535;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




/*------------------------------- FOOTER -------------------------------*/

.site-footer {
  background-color:black;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  border-top: 3px solid #444;
}

.newsletter-section {
  text-align: center;
  margin-bottom: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40px;
}

.newsletter-section h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

.newsletter-form input {
  padding: 12px 20px;
  width: 300px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.newsletter-form button {
  padding: 12px 25px;
  background-color: #BC6535;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-form button:hover {
  background-color: #BC6535;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 15px;
}

.footer-column h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .newsletter-form input {
      width: 100%;
      margin-bottom: 10px;
  }

  .newsletter-form button {
      width: 100%;
  }

  .footer-column {
      flex: 100%;
      text-align: center;
  }
}